# First, copy this file to aws-credentials.properties

# JAWNS requires that these credentials must permit full access to Simple Queue Service (SQS),
# DynamoDB, Simple Email Service (SES), and Simple Storage Service (S3)

accessKey = TODO
secretKey = TODO
